* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', sans-serif;
}

.mainContent {
    position: relative;
    overflow: hidden;
    background-color: white;
}


--------------------------------------------------------

HOMEPAGE NAVIGATION BAR

.homepageTopBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.5em;
    margin-bottom: -1em;
}

#appName {
    color: white;
    font-size: 1.5em;
    padding: 0.3em 0.1em 0em 0.5em;
}



--------------------------------------------------------

HOMEPAGE LOGIN FUNCTIONS

.login {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.4em;
}

.loginButtons {
    
}

.loginText {
    align-items: center;
    font-size: 1.4em;
    color: black;
    padding: 0.3em;
}

.loginButtonHomepage {
    background-color: black;
    color: white;
    padding: 0.9em 1.3em;
    align-content: flex-end;
}

.loginButtonHomepage:hover {
    background-color: #4ddbff;
}

.facebookImage {
    border: 2px solid black;
    border-radius: 20%;
    margin: 0em 0.3em;
    height: 2.4em;
    width: 2.4em;
}

.twitterImage {
    border-radius: 20%;
    margin: 0em 0.3em;
    height: 2.4em;
    width: 2.4em;
    padding: 0.3em;
    border: 1px solid #66ffff;
}

.googleImage {
    border: 2px solid black;
    border-radius: 20%;
    margin: 0em 0.3em;
    height: 2.4em;
    width: 2.4em;
}


--------------------------------------------------------

LOGOUT BUTTON

.logoutButton {
    border-radius: 15%;
    height: 2.2em;
    width: 3.5em;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
}

.logoutButtonHomepage {
    padding-right: 1em;
}


--------------------------------------------------------

HOMEPAGE INTRODUCTION


.homepageIntroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainBodyDiv {
    background: url('./homepageBackground.jpg');
    opacity: 0.65;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -3em;
}

.mainBodyDiv {
    background: url('../images/homepageBackground.jpg') no-repeat center center fixed;
    background: cover;
    position: relative;
    opacity: 0.65;
    height: 22em;
    box-sizing: border-box; 
    font-size: 2em;
}

.mainBodyDiv h2 {
    font-size: 3em;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainBodyDiv {
    padding: 1em 4em 1em 4em;
    background: url('../images/homepageBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainBodyDiv:hover {
    opacity: 1;
}

a:hover {
    text-decoration: none;
    color: red;
}

.choicesText {
    font-size: 0.6em;
    font-family: 'Bitter', sans-serif;
}

.messageNotLoggedIn {

}

.homepageMessage1 {
    padding: 0.5em 0em 0em 0.5em;
    color: black;
}

.homepageMessage2 {
    color: black;
    padding: 0.5em 0em 0em 0.5em;
    display: flex;
    
}

.homepageBodyLinks {
    margin-left: 2em;
}

--------------------------------------------------------

BODY OF HOMEPAGE: About us, Services, Instructions

.moreInfo {
    text-align: center;
    padding: 4em 6em;
}

.aboutUs,
.services,
.instructions {
    padding: 3.5em 0em;
}

.textInHomepage {
    font-size: 1.2em;
    color: #666666;
}

.lineSeparator {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 50%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}


--------------------------------------------------------


BODY OF HOMEPAGE: Our Counselors

.ourCounselorsHomepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3.5em;
}

.ourCounselorsHomepageHeaderText {
    padding: 3.5em 0em 3em 0em;
}

.ourCounselor1, .ourCounselor2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 47%;
    padding: 0% 1%;
    border: black 2px solid;
}

.counselorsProfilePictureHomepage {
    height: 13em;
    width: 13em;
    border-radius: 60%;
}

.counselorNameOnHomepage {
    font-weight: bold;
    font-size: 2em;
}

.counselorDescriptionOnHomepage {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
}

--------------------------------------------------------


FOOTER OF ALL PAGE

.footer {
    background-color: black;

    padding: 1em 0em 1em 7.5em;
    padding: 1em 1em 0.3em 1em;
    font-weight: bold;
}

.mainPageButtons {
    flex: 1 0 200px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: .5em;
    margin-left: 1em;
    margin-top: 1em;
    color: white;
    font-size: 2em;
}

.mainPageLinkButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.googleSearch {
    padding-left: 3em;
}

.linksToOtherPages {
    padding: 0em 12em;
}

.homepageFooterContact {
    padding-right: 3em;
}

.contactUs {
    font-size: 1.5em;
}

--------------------------------------------------------


FORM PAGE

.questionnaire_forms {
    padding: 1em 4em 1em 4em;
    background: url('../images/form-page-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.formHeader {
    margin-bottom: 1em;
}

.formHeader:after {
    content: ' ';
    display: block;
    border: 1px solid black;
}

.formCategory {
    font-weight: bold;
}

.formHeader {
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

.formHeader:after {
    content: ' ';
    display: block;
    border: 1px solid black;
    margin-top: 0.3em;
}

.formCategory {
    font-weight: bold;
}

.formsTopBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.5em;
}

.homepageButtonOnForms {
    border-radius: 15%;
    height: 2.2em;
    width: 5em;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
}

.homepageButtonOnForms:hover {
    text-decoration: none;
    color: black;
}

.homepageButtonLinkOnForms {
    padding-right: 1em;
}


--------------------------------------------------------


COUNSELORS PROFILE PAGE

.counselorsBackground {
    background-color: rgba(78, 78, 90, 0.7);
}

.counselorsProfilePage {
    background: url('../images/counselor-profile-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    padding: 0em 1em 1em 1em;
}

.counselorsHeaderText {
    font-size: 3em;
    text-align: center;
}

.counselorsInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid black;

}

.counselorsProfilePicture {
    width: 10em;
    height: 10em;
    display: flex;
    margin: 1.2em;
    border-radius: 60%;
}

.counselorsTextInformation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.counselorsName {
    font-weight: bold;
    margin-top: -45px;
    height: 150px;
    font-size: 2.2em;
}

.patientComments {
    font-size: 1.1em;
}

.counselorsCredentials {
    font-size: 1.1em;
}

.counselorsStatus {
    justify-content: flex-end;
}

.counselorsTopBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.5em;
}

.counselorsHeaderText {
    color: white;
    font-family: 'Bitter', sans-serif;
}

.homepageButtonOnCounselorsProfile {
    border-radius: 15%;
    height: 2.2em;
    width: 5em;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
}

.homepageButtonOnCounselorsProfile:hover {
    text-decoration: none;
    color: black;
}

.homepageButtonLinkOnCounselorsProfile {
    padding-right: 1em;
}





--------------------------------------------------------


TRIAGE PAGE

.triage {
    background: url('../images/triageBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    opacity: 0.8;
}

.triageText {
    padding: 25vh 0 0 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #0D0D25;
}

.triageWaiting img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.8;
}

.dots {
    margin: 0 0 0 0.08em;
}

.triageTalking,
.triageCounselorTalking,
.counselorTalking {
    background: url('../images/triageBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
}

.triageTalkingText {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #0D0D25;
    padding: 8vh 0 0 1vh;
}

.stopCallButton {
    margin: 0 0 1vh 0;
    border-radius: 20%;
    padding: 0 0.2em 0 0.2em;
    font-family: 'Lato', sans-serif;
}

.youStoppedCall,
.tCounselorWaiting {
    background: url('../images/triageBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    opacity: 0.8;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}


--------------------------------------------------------


TRIAGE COUNSELOR PAGE

.tCounselorWaiting,
.counselorWaiting {
    padding: 25vh 0 0 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #0D0D25;
    text-decoration: none;
}

.tCounselorLogoutButton {
    border-radius: 10%;
    padding: 0 0.2em 0 0.2em;
}

.loggedOutPage {
    background: url('../images/triageBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    opacity: 0.8;
    padding: 25vh 0 0 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #234C75;
    text-decoration: none;
}


--------------------------------------------------------


VIDEO COUNSELOR PAGE






body {
    position: relative
}



#aboutUs {padding-top:4em;color: black; border: 2px black solid;}
#services {padding-top:4em;color: black; }
#ourCounselors {padding-top:4em;color: black; }
#instructions {padding-top:4em;color: black; }
  
  
  --------------------------------------------------------
  
   CONTACT US PAGE 
  
.contactUsMainPage {
    background: url('../images/contactUsBackground.jpg') no-repeat center center fixed;
    background-size: cover;
}
  
.contactUsTopBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.5em;
}

.homepageButtonOnContactUs {
    border-radius: 15%;
    height: 2.2em;
    width: 5em;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
}

.homepageButtonLinkOnContactUs {
        padding-right: 1em;
}
      
