/*--------------------------------------------------------*/
/*HOMEPAGE*/
.mainContent {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.moreInfo {
    display: flex;
    justify-content: space-between;
}

.aboutUs {
    
}

.services {

}

.mainPageLinkButtons {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(78, 78, 90, 0.7);
}

.mainPageButtons {
	flex: 1 0 200px;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    padding: .5em;
	margin-left: 1em;
	margin-top: 1em;
    color: white;
    font-size: 2em;
}

.footer {
  background-color: rgba(78, 78, 90, 0.7); 
}

.facebookImage {
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 0.25em;
    margin-left: 0.5em;
    height: 2.4em;
    width: 2.4em;
}

.twitterImage {
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 0.25em;
    margin-left: 0.25em;
    height: 2.4em;
    width: 2.4em;
}

.googleImage {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 0.25em;
    height: 2.4em;
    width: 2.4em;
}

.login {
    background-color: rgba(78, 78, 90, 0.7);
    font-size: 1.5em;
}

.logout {
    background-color: rgba(78, 78, 90, 0.7);
    font-size: 1.5em;
}

.homepageIntroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    background-image: url('./homepageBackground.jpg');
    height: 50em;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav li {
    display: inline;
    float: left;
}

.nav h1 {
    font-size: 5em;
    font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

.nav p {
    font-size: 2.3em;
    font-family: 'Bitter', sans-serif;
}




/*--------------------------------------------------------*/
/*FORM PAGE*/

.questionnaire_forms {
    padding: 1em 4em 1em 4em;
    background: url('./form-page-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.formHeader {
    margin-bottom: 1em;
}

.formHeader:after {
    content:' ';
    display:block;
    border:1px solid black;
}

.formCategory {
    font-weight: bold;
}


.questionnaire_forms {
    padding: 1em 4em 1em 4em;
    background: url('http://www.tubadzin.pl/sites/default/files/en-gb_PS-Palacio-beige.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.formHeader {
    margin-bottom: 1em;
}
.formHeader:after {
    content:' ';
    display:block;
    border:1px solid black;
}
.formCategory {
    font-weight: bold;
}



/*--------------------------------------------------------*/
/*COUNSELORS PROFILE PAGE*/


.counselorsProfilePage {
  background: url('./counselor-profile-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  padding: 0em 1em 1em 1em;
}

.counselorsHeaderText {
  font-size: 3em;
  text-align: center;
  /*font-weight: 100;*/
}

.counselorsInformation {
  display: flex;
  /*margin-top: 15px;*/
  border-top: 2px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.counselorsProfilePicture {
  width: 10em;
  height: 10em;
  display: flex;
  margin: 1.2em;
  border-radius: 60%;
}

.counselorsTextInformation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.counselorsName {
  font-weight: bold;
  /*margin-top: -45px;*/
  /*height: 150px;*/
  font-size: 2.2em;
}

.patientComments {
  font-size: 1.1em;
}

.counselorsCredentials {
  font-size: 1.1em;
}

.counselorsStatus {
  justify-content: flex-end;
}